

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
    background: linear-gradient(to bottom, #36b2eb, #1064a9);
    min-height: 100vh; /* Ensure gradient covers the full page height */
}

.header {
    /* UPDATED: Solid white color for the header */
    background-color: #425389; 
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
}

.header p {
    margin: 5px 0 0;
    color: #666;
    font-size: 14px;
}

.dashboard-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.content-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 30px;
}

.video-player {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.upload-form input[type="file"] {
    margin-bottom: 20px;
}

.upload-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.upload-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.content-box a {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.content-box a:hover {
    background-color: #0056b3;
}

#loading-overlay {
    position: fixed;
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 1000; /* Ensure it's on top */
    color: white;
    padding-top: 20%;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}