<html lang="en">
<head>
    <title>Crowd Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select Analysis Source</h1>
        <a href="{{ url_for('upload_page') }}" class="option-button">Upload Video File</a>
        <a href="{{ url_for('webcam_page') }}" class="option-button">Use Live Webcam</a>
        <a href="{{ url_for('cctv_page') }}" class="option-button">Monitor CCTV</a>
    </div>
</body>
</html>